{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
<div class="jumbotron">
  <h1>Welcome to the School Detail Page!</h1>
  <h2>School details:</h2>
  <!-- By default, Django DetailView retrieves an object of the specified
       model named after the model. 'school'-->
  <p>Name: {{school_detail.name}}</p>
  <p>Principal: {{school_detail.principal}}</p>
  <p>Location: {{school_detail.location}}</p>
  <h3>Students:</h3>
  <!-- school_detail.students is possible because of
       `related_name='students'` for `Student.school`.-->
  {% for student in school_detail.students.all %}
    <p>{{student.name}} who is {{student.age}} years old.</p>
    {% endfor %}
</div>
<div class="container">
  <a href="{% url 'basic_app:update' pk=school_detail.pk %}"><p class="btn btn-warning">Update</p></a>
  <a href="{% url 'basic_app:delete' pk=school_detail.pk %}"><p class="btn btn-danger">Delete</p></a>
</div>
{% endblock %}
