<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    {% if users %}
    <table>
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
      </thead>
      {% for user in users %}
      <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No users exist!</p>
    {% endif %}
  </body>
</html>
